@import url('https://fonts.googleapis.com/css?family=Quicksand');

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(http://fonts.gstatic.com/s/materialicons/v30/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

html {
	font-family: 'Quicksand', sans-serif;	
	overflow-x: hidden;
}
body {
	margin: 0px;
	background: cornflowerblue;
}

.material-icons {
	font-family: 'Material Icons';
	font-style: normal;
}

#toast {
	width: 50%;
	height: 20px;
	height: auto;
	position: absolute;
	bottom: 10px;
	background-color: #383838;
	color: #F0F0F0;
	font-size: 1.2rem;
	padding: 10px;
	text-align: center;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	-moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
	z-index: 999;
}

.app {
	height: 100%;
	background: #d6d6d6;

}
.app-grid {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-gap: 1rem;
	height: 100%;
}



nav {
	padding-right: 10%;
}
nav li {
	list-style-type: none;
	cursor: pointer;
	padding-bottom: 1.1rem;
}
nav h2 {
	padding: 0rem 0rem 0rem 0rem;
	margin: 1rem 0rem 1rem .5rem;
}
nav a {
	padding: .5rem 3rem 0.5rem 3rem;
	color: #3e3e3c;
	transition: background-color .5s ease-out;
	
}
nav .material-icons {
	font-family: 'Material Icons';
    font-style: normal;
    vertical-align: sub;
	font-size: 1.7rem;
}
nav .active {
	background: #3e3e3c;
	color: #B3E5FC;
	
}
.hide {
	visibility: hidden;
    opacity: 0;
}

.cmp {
	transition: visibility .25s, opacity .25s linear;
	position: absolute;
    width: 75%;
}





a, button {
    cursor: pointer;
}
a {
    color: #0070d2;
    text-decoration: none;
	transition: color .1s linear;
}



.dark-primary-color {
	background: #0288D1;
}

.default-primary-color {
	background: #03A9F4;
}

.light-primary-color {
	background: #B3E5FC;
}

.text-primary-color {
	color: #FFFFFF;
}

.accent-color {
	background: #FF4081;
}

.primary-text-color {
	color: #212121;
}

.secondary-text-color {
	color: #757575;
}

.divider-color {
	border-color: #BDBDBD;
}
