@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/**
  *  
  *  Colors set as CSS Varibles  
  *  
  *  These vars are to work throughout for easy theming 
  *  Values are set in /scripts/main.js
  *  
  *  document.documentElement.style.setProperty('--color-variable', '#hexcode');
  *  
  *  --color-lightest: #EEE;
  *  --color-accent: #00e6ff;
  *  --color-light: #ec00ff;
  *  --color-mid: #4f23d7;
  *  --color-dark: #011627;
  *  
  *  --color-highlight: #ffd70e;
  *  
  *  --shadow-drop: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
  *  --shadow-top: 0px 2px 4px 0 rgba(0, 0, 0, 0.2), 0px -4px 10px 0px rgba(0, 0, 0, 0.2);
  *  
*/

html, body {

	font-weight: 400;
	font-family: 'Ubuntu', sans-serif;

	margin: 0;
	padding: 0;
	width: 100%;
	height: initial;
}

body {
	
	display: contents;
	align-items: center;
	justify-content: center;
	padding: 0 0 50px 0;
	background: linear-gradient(-45deg, var(--color-accent), var(--color-mid));
	background-attachment: fixed;
}

footer {
	
	color: var(--color-lightest);
    font-size: 1.2rem;
	background: var(--color-mid);
    position: fixed;
    padding-left: 1rem;
    vertical-align: middle;
    line-height: 3rem;
    z-index: 100;
    bottom: 0px;
    width: 100%;
    height: 3rem;
	box-shadow: var(--shadow-top);
}



/* App Frame */
#app {

	width: 100%;
	height: -webkit-fill-available;

    overflow-y: hidden;

	display: grid;
	grid-template-columns: auto;
    grid-template-rows: 1fr 100% 1fr;

	grid-template-areas: "header" "content" "footer";
}

.header {

    display: grid;
	grid-area: header;
	align-items: center;
    justify-items: center;
	grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
	
	padding: .25rem;
	background: var(--color-dark);
	border-bottom: 1pt solid var(--color-light);
	box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.35), 0px -4px 10px 0px rgba(0, 0, 0, 0.35);
}
.leftHeader {
	width: 100%;

    display: grid;
	align-items: center;
    justify-items: center;
	grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.content {
    height: inherit;
	overflow-y: auto;
	grid-area: content;
    margin-bottom: 3rem;
}

.container {

	width: 100%;
	max-height: 92.2%;
	
	text-align: center;
	margin-bottom: 7rem;

	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.footer {
	grid-area: footer;
}



/* scroll */
.content::-webkit-scrollbar {
	width: .25em;
}

.content::-webkit-scrollbar-track {
	background: #525252;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.content::-webkit-scrollbar-thumb {
	background-color: var(--color-mid);
	outline: 1px solid var(--color-mid);
}




/* todo make header a web component <reapo-header/> */
/* Header */
#menu {
	width: 100%;
	margin: auto;
	max-width: 3rem;
	cursor: pointer;
	border-radius: 50%;
	text-align: right;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.filter {
	width: 20%;
	border: none;
	padding: .3rem;
	max-width: 20rem;
	min-width: 12rem;
	text-align: center;
	border-radius: 5px;
	background: var(--color-lightest);
}
 
svg {
	fill: var(--color-light);
	margin: 0.4rem;
	transform: rotate(0deg);
    transition-duration: 1s;
}
svg:hover {
	filter: var(--shadow-drop);
	transform: rotate(1800deg);
	transition-duration: 6s;
}

.refreshReapo {
	width: 100%;
    margin: auto;
    max-width: 3rem;
    cursor: pointer;
    border-radius: 50%;
    text-align: right;
}
