@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/**
  *  
  *  Colors set as CSS Variables  
  *  
  *  Values are set in /scripts/main.js
  *  
  *  document.documentElement.style.setProperty('--color-variable', '#hexcode');
  *  
  *  --color-lightest: #EEE;
  *  --color-accent: #00e6ff;
  *  --color-light: #ec00ff;
  *  --color-mid: #4f23d7;
  *  --color-dark: #011627;
  *  
  *  --color-highlight: #ffd70e;
  *  
  *  --shadow-drop: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
  *  --shadow-top: 0px 2px 4px 0 rgba(0, 0, 0, 0.2), 0px -4px 10px 0px rgba(0, 0, 0, 0.2);
  *  
*/

html, body {

	font-weight: 400;
	font-family: 'Ubuntu', sans-serif;

	margin: 0;
	padding: 0;
	width: 100%;
	height: initial;
}

body {
	
	display: contents;
	align-items: center;
	justify-content: center;
	padding: 0 0 50px 0;
	background: linear-gradient(-45deg, var(--color-accent), var(--color-mid));
	background-attachment: fixed;
}

footer {
    grid-area: footer;
    color: var(--color-lightest);
    font-size: 1.2rem;
    background: var(--color-mid);
    position: fixed;
    padding-left: 1rem;
    vertical-align: middle;
    line-height: 5vh;
    z-index: 100;
    bottom: 0px;
    width: 100%;
    height: 5vh;
    align-items: center;
    box-shadow: var(--shadow-top);
    border-top: 1pt solid var(--color-mid);
    transition: all 1s ease-out;
}
footer.notice {
    border-top: 3pt solid var(--color-accent);
}



/* App Frame */
#app {
    width: 100%;
    height: 96vh;
    display: grid;
    /* overflow: overlay; */
    overflow: hidden;
    grid-template-columns: auto;
	grid-template-rows: 1fr 98fr 1fr;
    grid-template-areas:
        "header"
        "content"
        "footer";
	grid-row-gap: 0px;
	background-image: linear-gradient(-70deg, #ec00ff, #00a1ff);
    background-attachment: fixed;
}

/* scroll */
::-webkit-scrollbar {
	width: .25em;
}
::-webkit-scrollbar-track {
	background: #525252;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
	background-color: var(--color-mid);
	outline: 1px solid var(--color-mid);
}



.content {
	/* height: -webkit-fill-available; */
    /* padding-top: 3rem; */
    /* margin-bottom: 10rem; */
    /* min-height: -webkit-fill-available; */
    overflow-y: auto;
    grid-area: content;
}

.container {
	width: 100%;
    height: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
    grid-template-rows: auto;
    align-content: baseline;
}






